{% block content %}
	<div class="c-news-events__content list post-selector">
		<a href="{{news_link}}">
		<div class="c-news-events__details {% if header_image_url is empty %}no-image{% endif %}">
			<div class="c-news-events__breadcrumb">
				<p>{{result_site_name}}</p>
			</div>

			{% if header_image_url %}
			<div class="c-news-events__image">
			  <img src="{{header_image_url}}">
			</div>
			{% endif %}
			
			<div class="c-news-events__title-medium">
				<h1>{{news.title}}</h1>
				
				{% if news.header_medium %}
					<p><span class="c-news-events__medium">{{news.header_medium}} </span> {{news.header_text}}</p>
				{% endif %}
			</div>
		</div>
		</a>
	</div>
{% endblock %}