<div class="c-search-results__result">
	<p hidden class="no-display">{{ function('switch_to_blog', post.blog_id) }}</p>
  <a class="c-search-results__link" href="{{post.link}}">{{post.title}}</a>
  <div class="c-search-results__content">{{post.content}}</div>
  <div class="c-search-results__category">{{ function('get_bloginfo' , 'name') }}</div>
  <p hidden class="no-display">{{ function('restore_current_blog') }}</p>
</div>