<a href="{{recent_news.link}}">
  <div class="c-recent-news__item count-{{count}} {% if recent_news.header_image is empty %}no-image{% endif %}">
    {% if recent_news.header_image is not empty %}
      <div class="c-recent-news__image" style="background-image: url({{header_image_url}});">
      </div>
    {% endif %}
    <div class="c-recent-news__program">
      <p>{{result_site_name}}</p>
    </div>
    <div class="c-recent-news__title">
      <h3 class="c-rte__link">{{recent_news.title}}</h3>
    </div>
    <div class="c-recent-news__event-details">
      <p>{{recent_news.header_text}}</p>
    </div>
  </div>
</a>