{% extends "single.twig" %}

{% block article_header %}
  <h1 class="entry-title single-title" itemprop="headline">{{post.title}}</h1>
  <p class="byline">Posted on {{post.post_date|date('F j, Y')}} by <a href="{{post.author.link}}">{{post.author.name}}</a></p>
  <p class="social-tools">
    <a href="#" class="sharer-fb" data-picture="{{post.thumbnail.src}}" data-url="{{post.link}}">
      <svg class="icon icon-facebook"><title>Facebook</title><use xlink:href="#facebook"></use></svg>
    </a>
    <a href="#" class="sharer-tw" data-url="{{post.link}}" data-description="{{post.title}}">
      <svg class="icon icon-facebook"><title>Twitter</title><use xlink:href="#twitter"></use></svg>
    </a>
  </p>
{% endblock %}

{% block article_footer %}
<footer class="article-footer">
  <p class="tags"><span class="tags-title">Tags: {{post.terms|join(', ')}}</span>
  </p>
</footer> <!-- /.article-footer -->
{% endblock %}
