<div class="c-mainnav">
  <div class="c-logo__container">
    {% if logo[0] %}
      <a href="{{site.url}}" class="c-logo__link"><img src="{{logo[0]}}" class="c-logo__image"></a>
    {% else %}
      <h1 class="c-logo__text"><a href="{{site.url}}" class="c-logo__link">{{site.title}}</a></h1>
    {% endif %}
  </div>
  <div class="c-mainnav__content">
    {{header_widget}}
  </div>
</div>
<aside class="c-nav" id="c-nav" data-off-canvas data-position="right">
  <div class="c-menu__hamburger">
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </div>
  <div class="c-menu__container">
    <ul class="c-menu__list" data-responsive-menu="drilldown large-dropdown">
    {% for item in menu.get_items %}
       {% set has_children = item.get_children %}
        {% if has_children %}
          <li class="c-menu__list-item has-child">
        {% else %}
          <li class="c-menu__list-item">
        {% endif %}
        <a href="{{item.get_link}}">{{item.title}}</a>
        {% if has_children %}
        <ul class="c-menu__sublist">
          {% for child in item.get_children %}
            <li class="c-menu__sublist-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
          {% endfor %}
        </ul> <!-- /.menu.nested -->
        {% endif %}
      </li>
    {% endfor %}
    </ul> <!-- /.menu -->
  </div>
</aside> <!-- /.off-canvas -->