<div class="c-nav">
  <div class="c-nav--top">
    <div class="c-nav__logo">
      {% if logo[0] %}
      <a href="{{site.url}}" class="c-logo__link">
          <img src="{{logo[0]}}" class="">
        </a> {% else %}
      <h1 class="c-logo__text">
          <a href="{{site.url}}" class="c-logo__link">{{site.title}}</a>
        </h1> {% endif %}
    </div>
    <div class="c-nav__mobile">
      <a href="#" class="c-nav__search-btn js-search-btn">
        <span class="icon icon-search--small"></span>
      </a>
      <button class="c-nav__mobile-hamburger-btn js-hamburger-btn" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="c-nav__elements">
      <div class="c-nav__multisite-nav">
        {# Setting up the SITE MENU #}
        <ul>
          {% for item in site_menu.get_items %} {% set has_children_site_menu = item.get_children %}
          <li>
            <a href="{{item.get_link}}" class="nav-title">{{item.title}}</a> {% if has_children_site_menu %}
            <ul class="nav-dropdown">
              {% for child in item.get_children %}
                <li {% if site_url|replace({'https': '', 'http': '' , '://':'' , '/':''}) == child.get_link|replace({'https': '', 'http': '' , '://':'' , '/':''}) %}class="active-program"{% endif %}>
                  <a href="{{child.get_link}}">{{child.title}}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="c-nav__elements-widget">
        {{header_widget}}
      </div>
    </div>
  </div>
  <div class="c-nav--bottom">
    <div class="c-nav--bottom__container">

      {# Operation RED #}
      <div class="c-nav__nav--left">
        <ul>
          {% for main_menu_item in main_menu_left.items %} 

              {% if main_menu_item.current %} 
                {% set mainlinkactive = true %}
              {% else %}
                {% set mainlinkactive = false %} 
              {% endif %}

              {# This is to make sure that particular page's parent exsist in the menu then to make that also active #}
              {% if main_menu_item.get_link|replace({'https': '', 'http': '' , '://':'' , '/':''}) == parent_url|replace({'https': '', 'http': '' , '://':'' , '/':''}) %} 
                {% set mainparentactive = true %}
              {% else %}
                {% set mainparentactive = false %} 
              {% endif %}
              
              {% set childlinkactive = false %}
              {% set childparentactive = false %}
              {% for child in main_menu_item.get_children %}
                {% if child.current %} 
                  {% set childlinkactive = true %}
                {% endif %}
              
                {% if child.get_link|replace({'https': '', 'http': '' , '://':'' , '/':''}) == parent_url|replace({'https': '', 'http': '' , '://':'' , '/':''}) %} 
                  {% set childparentactive = true %}
                {% endif %}
              {% endfor %}

            <li class=" {% if main_menu_item.children %} has-submenu {% endif %}"> 

              <a href="{{main_menu_item.get_link}}" class="{% if (mainlinkactive or childlinkactive or mainparentactive or childparentactive) %} active-parent {% endif %}">{{main_menu_item.title}}</a> 
              {% if main_menu_item.children and (mainlinkactive or childlinkactive or mainparentactive or childparentactive) %}
                <ul class="main-nav-dropdown">
                  <div class="child-menu">
                    {% for child in main_menu_item.get_children %}
                      <li>
                        <a {% if child.current %}class="active-child"{% endif %}href="{{child.get_link}}">{{child.title}}</a>
                      </li>
                    {% endfor %}
                  </div>
                </ul>
              {% endif %}
            </li>

          {% endfor %}
        </ul>
      </div>
      {# End of Operation #}

      <div class="c-nav__nav--right">
        <ul>
          {% for main_menu_right_item in main_menu_right.get_items %} 
            {% set has_children_main_menu_right = main_menu_right_item.get_children %}
            <li>
              <a href="{{main_menu_right_item.get_link}}">{{main_menu_right_item.title}}</a> {% if has_children_main_menu_right %}
              <ul class="nav-dropdown">
                {% for child in main_menu_right_item.get_children %}
                <li><a href="{{child.get_link}}">{{child.title}}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="c-nav__elements c-nav__elements--mobile">
        <div class="c-nav__multisite-nav">
          <ul>
            {% for item in site_menu.get_items %} {% set has_children_site_menu = item.get_children %}
            <li>
              <a href="{{item.get_link}}" class="nav-title">{{item.title}}</a> {% if has_children_site_menu %}
              <ul class="nav-dropdown">
                {% for child in item.get_children %}
                <li><a href="{{child.get_link}}">{{child.title}}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="c-nav__elements-widget">
          {{header_widget}}
        </div>
      </div>
    </div>
  </div>
</div>