{#<div class="c-mainnav">
  <div class="c-logo__container">
    {% if logo[0] %}
      <a href="{{site.url}}" class="c-logo__link"><img src="{{logo[0]}}" class=""></a>
    {% else %}
      <h1 class="c-logo__text"><a href="{{site.url}}" class="c-logo__link">{{site.title}}</a></h1>
    {% endif %}
  </div>
  <div class="c-mainnav__content">
    {{header_widget}}
  </div>
</div>
<aside class="c-nav" id="c-nav" data-off-canvas data-position="right">
  <div class="c-menu__hamburger">
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </div>
  <div class="c-menu__container">
    <ul class="c-menu__list" data-responsive-menu="drilldown large-dropdown">
    {% for item in menu.get_items %}
       {% set has_children = item.get_children %}
        {% if has_children %}
          <li class="c-menu__list-item has-child">
        {% else %}
          <li class="c-menu__list-item">
        {% endif %}
        <a href="{{item.get_link}}">{{item.title}}</a>
        {% if has_children %}
        <ul class="c-menu__sublist">
          {% for child in item.get_children %}
            <li class="c-menu__sublist-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
          {% endfor %}
        </ul> <!-- /.menu.nested -->
        {% endif %}
      </li>
    {% endfor %}
    </ul> <!-- /.menu -->
    {{side_menu_widget}}
  </div>
</aside> <!-- /.off-canvas -->#}

<div class="c-nav">
  <div class="c-nav--top">
    <div class="c-nav__logo">
      {% if logo[0] %}
        <a href="{{site.url}}" class="c-logo__link">
          <img src="{{logo[0]}}" class="">
        </a>
      {% else %}
        <h1 class="c-logo__text">
          <a href="{{site.url}}" class="c-logo__link">{{site.title}}</a>
        </h1>
      {% endif %}
    </div>
    <div class="c-nav__elements">
      <div class="c-nav__multisite-nav">
        <ul>
          <li>
            <a href="#" class="nav-title">SEO Programs</a>
            <ul class="nav-dropdown">
              <li><a href="#">SEO Scholars</a></li>
              <li><a href="#">SEO Career</a></li>
              <li><a href="#">SEO Law</a></li>
              <li><a href="#">SEO Alternative Investments</a></li>
              <li><a href="#">SEO USA</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="#" class="c-nav__donate-link">Donate</a>
      <a href="#" class="c-nav__search-btn">
        <span class="icon icon-search--small"></span>
      </a>
    </div>
  </div>
  <div class="c-nav--bottom">
    <div class="c-nav__nav--left">
      <ul>
        <li><a href="#">Fellowship</a></li>
        <li><a href="#">Prep Program</a></li>
        <li><a href="#">Conference</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Advisors</a></li>
        <li><a href="#">Our Team</a></li>
      </ul>
    </div>
    <div class="c-nav__nav--right">
      <ul>
        <li><a href="#">Fellowship</a></li>
        <li><a href="#">Prep Program</a></li>
      </ul>
    </div>
  </div>
</div>