{% extends "base.twig" %}

{% block content %}
	<main id="content">
	    <div class="page-content c-news-events">
				<section>
				  <div class="container">
				    <div class="page-title">
				      <h1>{{post.title}}</h1>
				    </div>
			{% set featured_post_ID = '' %}
			{% if featured_posts %}
				    {% for featured_post in featured_posts %}
				    <div class="c-news-events__content featured">
				      <a href="{{featured_post.link}}">
								{% if featured_post.get_field('header_image') %}
									<div class="c-news-events__image">
										  <img src="{{Image(featured_post.get_field('header_image')).src}}">
									</div>
								{% endif %}

								<div class="c-news-events__details {% if featured_post.get_field('header_image') is empty %}no-image{% endif %}">
									<div class="c-news-events__breadcrumb">
										<p>{{site_name}}</p>
									</div>

									<h1>{{featured_post.title}}</h1>
									
									{% if featured_post.get_field('header_medium') %}
										<p><span class="c-news-events__medium">{{featured_post.get_field('header_medium')}} </span> {{featured_post.get_field('header_text')}}</p>
									{% endif %}
								</div>
							</a>
				    </div>
				    {% set featured_post_ID = featured_post.ID %}
				    {% endfor %}
				  </div>
				</section>
			{% endif %}

			<div class="container region_body">
		        <div class="container region_main_content">
			        {# Adding Body #}
		            <section class="posts-selector">
		            	{# Need to add the filters here #}
		            	<div class="c-news-filter">
							{{tags_filter_NE_landingpage}}
						</div>
						<div class="c-news-filter">
							{% if current_blog_id == 1 %}
								{{site_filter_NE_landingpage}}
							{% endif %}
						</div>
						

						<div class="container news-list">
							{% set arr = [] %}
							{% set arr = arr|merge({'post_type': 'news'}) %}
							{% set arr = arr|merge({'list': 10}) %}
							{% set arr = arr|merge({'exclude_post': featured_post_ID }) %}
							{% set arr = arr|merge({'paginate': 'true'}) %}

							{% if current_blog_id != 1 %}
								{% set arr = arr|merge({'include_blog': current_blog_id }) %}										
							{% endif %}

							{{ function('netsposts_shortcode', arr) }}
						</div>	
		            </section>
		        </div>

		        <div class="container region_left_rail">
		          	{# Adding promotional #}
					{% set component = post.get_field('promotional_area') %}
					{% if component.include_promotional == "yes" %}
						{% include ['components/news_landing/component_promotional.twig'] %}
					{% endif %}
		        </div>
		    </div>
	    </div>
	</main>
{% endblock %}