{% extends "base.twig" %}

{% block content %}
	<section class="c-search-results__wrapper">
		<div class="container">
			<div class="content">
				<div class="page-title">
					<h1>
						<span>Search results for</span><br>
						{{search_phrase}}
					</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="c-main-content">
			<div class="c-search-filter">
				<div class="c-search-filter__filter c-news-filter">
					<h3>Program: </h3><span id="selected">
						{% if current_site_id == 1 %}All{% else %}{{current_site_name}}{% endif %}</span>
					<ul class="c-news-filter__items" id="selection-options">
						{% for site in search_filters %}
							<li class="c-news-filter__item {% if site.active_site %} active-selected {% endif %} ">
								{% if site.id == 1 %}
									<a href="{{site.link}}?s={{search_phrase}}&searchblogs=1,2,3,4,5">All</a>
								{% else %}
									<a href="{{site.link}}?s={{search_phrase}}">{{site.name}}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<a href="#" class="c-search-filter__btn js-search-filter__btn">
					Search again <span class="icon icon-search-red--small"></span>
				</a>
			</div>

			{% include ['search-results-form.twig'] %}

			<div class="posts-selector">
				{% for post in posts %}
					{% include ['partials/search-teaser.twig', 'teaser.twig'] %}
				{% endfor %}
			</div>
			
			{# Pagination added in #}
			<div id="block-wrapper">
				<div class="netsposts-paginate">
					{% if posts.pagination.next %}
						<a class="next page-numbers" href="{{posts.pagination.next.link}}">Next</a>
					{% endif %}
				</div>
			</div>


		</div>
	</div>
{% endblock %}