<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<section class="c-share">
  <div class="c-share__container">
    <div class="c-share__title">
      <h2>Share this article</h2>
    </div>
    <div class="c-share__buttons">
      <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
      <meta property="og:url" content="{{post.link}}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{post.title}}" /> {#
      <meta property="og:description" content="{{post.get_field('news_body')}}" /> #}
      <meta property="og:image" content="{{Image(post.get_field('header_image')).src}}" />
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=2082234315393277&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Popup window code
      function newPopup(url) {
        popupWindow = window.open(
        url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
      }

      </script>
      <!-- Your share button code -->
      <div class="fb-share-button" data-href="{{post.link}}" data-layout="button" data-size="large" data-mobile-iframe="true">
        {# <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a> #}
        <!-- Sharingbutton Facebook -->
          <a class="resp-sharing-button__link" href="JavaScript:newPopup('https://facebook.com/sharer/sharer.php?u={{post.link}}');" target="_blank" aria-label="Share on Facebook">
          <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path id="share-icon" d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
              </svg>
            </div>
          </div>
        </a>
      </div>

      <div class="twitter-share-button">
        {# <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{post.title}}" data-size="small"></a> #}
        <!-- Sharingbutton Twitter -->
        <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet?text={{post.title}} {{post.link}}" target="_blank" aria-label="">
          <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path id="share-icon" d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
