<section>
  <div class="container">
    <div class="c-gallery__container">
      <div class="c-gallery__section-header">
        <h2>{{component.section_header}}</h2>
      </div>
      <div class="c-gallery__container image-medium">
        <div class="c-gallery_item-container">
          {% for item in component.repeater %}
            <div class="c-gallery__gallery-item">
              {% if item.destination_link %}
                <a href="{{item.destination_link}}" class="bw-hover">
                  <div class="c-gallery__image" style="background-image: url({{Image(item.photo).src }})"></div>
                </a>  
              {% else %}
                 <div class="c-gallery__image" style="background-image: url({{Image(item.photo).src }})"></div>
              {% endif %}      
              {# <img src="" /> #}
              <div class="item__heading">
                <h3>{{item.heading}}</h3>
              </div>
              <div class="item__sub-heading">
                <p>{{item.subheading}}</p>
              </div>
              {% if item.destination_link %}
                <div class="item__link">
                  <a href="{{item.destination_link}}" class="c-rte__link">{{ (item.link_text) ? item.link_text : 'Read full bio' }}</a>
                </div>
              {% endif %}       
            </div>
          {% endfor %}
        </div>
      </div>

      {# Adding the new link option #}
      {% if component['destination'] %}
        <a href="{{component['destination']['url']}}" class="c-rte__link">
          {% if component['destination']['title'] %}
            {{component['destination']['title']}}
          {% else %}
            {{component['destination']['url']}}
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</section>