{# {% for recent_news in recent_posts %}

	<a href="{{recent_news.link}}"></a>

  {{recent_news.title}}
  {{recent_news.get_field('header_medium')}} {{recent_news.get_field('header_text')}}
  <img src="{{Image(recent_news.get_field('header_image')).src}}">

  {# Summary #}
  {# {{recent_news.get_field('news_body')|slice(0, 300)}} #}
{# {% endfor %} #}

<section class="c-recent-news">
  <div class="container">
    <div class="c-recent-news__container">
      <h2>News & Events</h2>
      {% set count = recent_posts|length %}
      <div class="c-recent-news__items">

        {% for recent_news in recent_posts %}
      	<a href="{{recent_news.link}}">
	        <div class="c-recent-news__item count-{{count}} {% if recent_news.header_image is empty %}no-image{% endif %}">

	        	{% if recent_news.header_image is not empty %}
		          <div class="c-recent-news__image" style="background-image: url({{Image(recent_news.get_field('header_image')).src}});">
	            {# <img src="{{Image(recent_news.get_field('header_image')).src}}"> #}
	          </div>

	          {% endif %}
	          <div class="c-recent-news__program">
	            <p>{{site_name}}</p>
	          </div>
	          <div class="c-recent-news__title">
	            <h3 class="c-rte__link">{{recent_news.title}}</h3>
	          </div>
	          <div class="c-recent-news__event-details">
	            <p>{{recent_news.header_text}}</p>
	          </div>
	        </div>
        </a>
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>
