<section>
  <div class="container">
    <div class="c-ph-intro__container">
      <div class="c-ph-intro__content">
        <p>{{component.text}}</p>
        {% if component.button.title%}
          <a href="{{component.button.url}}" class="c-uie__calltoaction">{{component.button.title}}</a>
        {% else %}
          <a href="{{component.button.url}}" class="c-uie__calltoaction">{{component.button.url}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
