<div class="page-title">
	<div class="program_title">
		<h1>{{post.title}}</h1>
	</div>
	{% if component['intro'] %}
	<div class="program_description page-title__text-spacing">
		<p>{{component['intro']}}</p>
	</div>
	{% endif %}
	{% if component['event_header'] %}
	<div class="program_headline">
		<h2>{{component['event_header']}}</h2>
	</div>
	{% endif %}
</div>

{% if component['include_event_info'] == 'yes' %}
	<section>
		<div class="container">
		  <div class="c-ph__event-details">
		    <h2>{{component['event_info_event_details']}}</h2>
		    <a class="c-uie__calltoaction" href="{{component['event_info_button_url']}}">{{component['event_info_button_label']}}</a>
		  </div>
		</div>
	</section>
{% endif %}
