<section>
  <div class="container">
    <div class="c-program_cta__container">
      <div class="c-program-title">
        <h1>{{component.heading}}</h1>
      </div>
      {% if component.cta_type == 'image' %}
      <div class="c-program-image" style="background-image: url('{{Image(component.image).src }}')"></div>
      {% elseif component.cta_type == 'video' %}
      <div class="c-program-video">
        <div class="video">
          <div class="fullwidth__video" video-url="{{component.video}}"></div>
          <div id="play-button" class="c-hero_playbutton"></div>
        </div>        
      </div>
      {% endif %}
      <div class="c-program-description">
        <p>{{component.body}}</p>
        <ul class="c-program-links">
          {% for link in component.links %}
          <li>
            <a href="{{link.destination_url}}" class="c-rte__link">{{link.text}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
