<section>
  <div class="container">
    <div class="c-gh-program-cta__container">
      <div class="c-gh-program-cta__title">
        <h1>{{component.heading}}</h1>
      </div>
      {% if component.cta_type == 'image' %}
      <div class="c-gh-program-cta__image" style="background-image: url('{{Image(component.image).src }}')"></div>
      {% elseif component.cta_type == 'video' %}
      <div class="c-gh-program-cta__video">
        <div class="video">
          <iframe id="ytplayer" type="text/html" src="{{component.link|replace({'watch?v=':'embed/'})}}" frameborder="0"></iframe>
        </div>
      </div>
      {% endif %}
      <div class="c-gh-program-cta__description">
        <p>{{component.body}}</p>
        <ul class="c-gh-program-cta__links">
          {% for link in component.links %}
          <li>
            <a href="{{link.destination_url}}" class="c-rte__link">{{link.text}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
