<section>
  <div class="container">
    <div class="c-gallery__container">
      <div class="c-gallery__section-header">
        <h2>{{component.section_header}}</h2>
        <p>{{component.section_intro}}</p>
      </div>

      <div class="c-gallery_item-container">
        <div class="c-gallery__container image-only">
          {% for repeater in component.repeater %}
            <div class="c-gallery__col">
              {% if repeater.url %}
                <a href="{{repeater.url}}" class="bw-hover">
              {% endif %}
                  <div class="c-gallery__gallery-item {% if loop.index % 2 == 0 %}even{% endif %} {% if loop.last %}last{% endif %}">
                    <img src="{{Image(repeater.photo).src }}" />    
                  </div>
              {% if repeater.url %}
                </a>              
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      {# Adding the new link option #}
      {% if component['destination'] %}
        <a href="{{component['destination']['url']}}" class="c-rte__link">
          {% if component['destination']['title'] %}
            {{component['destination']['title']}}
          {% else %}
            {{component['destination']['url']}}
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</section>