<section>
  <div class="container">
    <div class="c-gallery__section-header">
        <div class="page-title">
          <div class="gallery_headline">
            <h1>{{component.section_header}}</h1>
          </div>
          <div class="gallery_description page-title__text-spacing">
            <p>{{component.intro}}</p>
          </div>
        </div>
    </div>
    <div class="c-gallery__container text-only">
      {% for item in component.repeater %}
        <div class="c-gallery__gallery-item">
          <div class="c-gallery__content">
            <div class="item__heading">
              <h3>{{item.heading}}</h3>
            </div>
            <div class="item__sub-heading">
              <p>{{item.subheading}}</p>
            </div>
            {% if item.destination_link %}
              <div class="item__link">
                <a href="{{item.destination_link}}" class="c-rte__link">{{ (item.link_text) ? item.link_text : 'Read full bio' }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>