<section class="c-gh-hero__container">
  <div class="container">
    <div class="c-gh-hero__content{% if component.hero_text is not empty %} got_title{% endif %}">
      {% if component.media_selection == 'image_video' %}

        {% if component.video %}
          <div class="c-gh-hero__video c-desktop__video">
            <video loop muted autoplay class="video-player">
              <source src="{{component.video.url}}" type="video/mp4">
            </video>
          </div>
          <div class="c-gh-hero__image c-mobile-hero__image" style="background-image: url({{Image(component.image).src }})"></div>

          <div class="c-gh-hero__text"><h1>{{component.hero_text}}</h1></div>
        {% else %}
          
          <div class="c-gh-hero__image item" style="background-image: url({{Image(component.image).src}})"></div>

          <div class="c-gh-hero__image c-mobile-hero__image" style="background-image: url({{Image(component.image).src }})"></div>

          <div class="c-gh-hero__text"><h1>{{component.hero_text}}</h1></div>

        {% endif %}
      
      {% else %}

        <div class="owl-carousel owl-theme">
        {% for item in component.carousel %}
            <div class="item">
              <div class="c-gh-hero__image c-carousel__image {% if item.carousel_text is not empty %} got_title{% endif %}" style="background-image: url({{item.carousel_image.url}})">
              </div>
              <div class="c-gh-hero__text"><h1>{{item.carousel_text}}</h1></div>
            </div>
        {% endfor %}
        </div>

      {% endif %}
    </div>
  </div>
</section>