<section>
  <div class="old">
    <div class="c-ratiometer_container">
      <div class="c-ratiometer">
        <div class="c-rationmeter-positioner">
          <div class="c-ratiometer-meter_out js-progress-bar">
            <div class="c-ratiometer-meter_out circle-back" style="background: #FFFFFF;"></div>
            <div class="c-rationmeter-meter" style="background-image: url({{Image(component.image).src }})">
            </div>
          </div>
          <div class="c-rationmeter-text" percentage="{{component.percentage}}">
            <h1>{{component.percentage}}%</h1>
            <p>{{component.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
jQuery(document).ready(function() {
  var triggerAtY = $('.c-ratiometer_container').offset().top - $(window).outerHeight();
  $(window).scroll(function(event) {

    // #target not yet in view
    if (triggerAtY > $(window).scrollTop()) {
      return;
    }

    var progress_circle = jQuery(".js-progress-bar").gmpc({
      line_width: 10,
      color: "#7CB4F6",
      starting_position: 35, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
      percent: 0, // percent starts from
      percentage: true
    })
    .gmpc("animate", '{{component.percentage}}', 2000);
    
    // remove this event handler
    $(this).off(event);
  })
});
</script>