<img src="{{Image(component.image_1).src }}" />
<img src="{{Image(component.image_2).src }}" />
{{component.heading}}
{{component.text_blurb}}
<a href="{{component.destination.url}}">{{component.destination.title}}</a>