<section>
  <div class="container">
    <div class="c-gallery__section-header">
      <h1>{{component.section_header}}</h1>
    </div>
    <div class="c-gallery__container image-small">
      {% for item in component.repeater %}
        <div class="c-gallery__gallery-item">
          {% if item.destination_link %}
            <a href="{{item.destination_link}}">
              <img src="{{Image(item.photo).src }}" />
            </a>
          {% else %}
             <img src="{{Image(item.photo).src }}" />
          {% endif %}  
        <div class="item__heading">
            <h3>{{item.heading}}</h3>
          </div>
          <div class="item__sub-heading">
            <p>{{item.subheading}}</p>
          </div>
          {% if item.destination_link %}
            <div class="item__link">
              <a href="{{item.destination_link}}" class="c-rte__link">Read full bio</a>
            </div>
          {% endif %}       
        </div>
      {% endfor %}
    </div>
  </div>
</section>