<section>
	<div class="container">
		<div class="c-pl__image-link-container">
		    <div class="c-pl__image-link__header">
		    	<h2>{{component.heading}}</h2>
		    </div>
		    <div class="c-pl__image-link__description">
			    <p>{{component.intro_text}}</p>
		    </div>
		    <div class="c-pl__image-link__items">
				{% for item in component.repeater %}
					<div class="c-pl__image-link-item">
						{% if item.destination_link %}
							<a href="{{item.destination_link}}">
						{% endif %}
							<div class="c-pl__image-link-image" style="background-image: url({{Image(item.photo).src}});"></div>
						{% if item.text %}
							<div class="c-pl__image-link-title{{ (item.destination_link) ? '' : ' no-link' }}">
								<h3>{{item.text}}</h3>
							</div>
						{% endif %}
						{% if item.destination_link %}
							</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{# Force push Test  #}