<section>
  <div class="container">
    <div class="c-ph-stats__container">
      <div class="c-ph-stats__content {% if component.repeater|length == 1 %}single{% endif %}">
        {% for repeater in component.repeater %} {% if repeater.stat_type == 'percentage' %}
        <div class="old">
          <div class="c-ratiometer_container">
            <div class="c-ratiometer">
              <div class="c-rationmeter-positioner">
                <div class="c-ratiometer-meter_out" style="background: #0073bf;
						          background: -moz-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);
						          background: -webkit-gradient(left top, right bottom, color-stop(0%, #0073bf), color-stop(0%, #0073bf), color-stop(0%, white), color-stop(100%, white));
						          background: -webkit-linear-gradient(-45deg, #0073bf 0%, #0073bf {{repeater.percent}}%, white 0%, white 100%);
						          background: -o-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);
						          background: -ms-linear-gradient(-45deg, #0073bf 0%, #0073bf 0%, white 0%, white 100%);">
                  <div class="c-rationmeter-meter" style="background-image: url({{Image(repeater.image).src }})">
                  </div>
                </div>
                <div class="c-rationmeter-text">
                	<h1>{{repeater.percent}}%</h1>
                  <p>{{repeater.text}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% elseif repeater.stat_type == 'years' %}
        <div class="c-ph-stats-border__container">
          <div class="c-ph-stats-border__details">
            <h1>{{repeater.number}}</h1>
            <p>{{repeater.text}}</p>
            <div class="c-ph-stats-border__top-value">
              <h3>{{repeater.year_1}}</h3>
            </div>
            <div class="c-ph-stats-border__bottom-value">
              <h3>{{repeater.year_2}}</h3>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
