<div class="container faq">
  <div class="c-accordion__wrapper">
    <ul class="c-accordion__filter">
      {% for category_set in component.category_repeater %}
      <li class="cat-js cat-{{loop.index}}">{{category_set.category_tag}}</li>
      {% endfor %}
      <li class="cat-js cat-all active-selection">All</li>
    </ul>


    <div class="c-accordion__filter-mobile">
      <h3>filter by: </h3>
      <span id='select'>All</span>
      <ul class="c-accordion__filter" id="sel-option">
        {% for category_set in component.category_repeater %}
        <li class="cat-js cat-{{loop.index}}">{{category_set.category_tag}}</li>
        {% endfor %}
        <li class="cat-js cat-all active-selection">All</li>
      </ul>
    </div>

    
    <ul class="c-accordion">
      {% for category_set in component.category_repeater %} {% for question_set in category_set.question_repeater %}
      <li class="question-js cat-{{loop.parent.loop.index}} cat-all">
        <div class="toggle" href="javascript:void(0);">
          <span class="content-grid">
              {{question_set.question}}
            </span>
          <div class="answer c-rte__accordion">
            {{question_set.answer}}
          </div>
        </div>
      </li>
      {% endfor %} {% endfor %}
    </ul>
  </div>
</div>
