<div class="container faq">
  <div class="c-accordion__wrapper">
    <h3>{{component.header}}</h3>
    <div>{{component.body}}</div>
    <ul class="c-accordion__filter">
      {% for category_set in component.category_repeater %}
        <li class="cat-js cat-{{loop.index}}">{{category_set.category_tag}}</li>
      {% endfor %}
      <li class="cat-js cat-all">All</li>
    </ul>

    <ul class="c-accordion">
      {% for category_set in component.category_repeater %}
        {% for question_set in category_set.question_repeater %}
        <li class="question-js cat-{{loop.parent.loop.index}}">
          <div class="toggle" href="javascript:void(0);">
           <span class="content-grid">
            {{question_set.question}}
           </span>
           <div class="answer c-rte__accordion">
            {{question_set.answer}}
          </div>
         </div>
        </li>
        {% endfor %}
      {% endfor %}

      {# print all the questions #}
      {# {% for category_set in component.category_repeater %}
        {% for question_set in category_set.question_repeater %}
          <li>
            <div class="toggle" href="javascript:void(0);">
             <span class="content-grid">
              {{question_set.question}}
             </span>
             <div class="answer c-rte__accordion">
              {{question_set.answer}}
            </div>
           </div>
          </li>
        {% endfor %}
      {% endfor %} #}
    </ul>
  </div>
</div>