<div class="container faq">
  <div class="c-accordion__wrapper">
    <h3>{{component.subheading}}</h3>
    <ul class="c-accordion__filter">
      {% for category_set in component.category_repeater %}
        <li class="cat-js cat-{{loop.index}}">{{category_set.category_tag}}</li>
      {% endfor %}
      <li class="cat-js cat-all active-selection">All</li>
    </ul>

    <ul class="c-accordion">
      {% for category_set in component.category_repeater %}
        {% for question_set in category_set.question_repeater %}
        <li class="question-js cat-{{loop.parent.loop.index}} cat-all">
          <div class="toggle" href="javascript:void(0);">
           <span class="content-grid">
              {{question_set.question}}
            </span>
           <div class="answer c-rte__accordion">
            {{question_set.answer}}
          </div>
         </div>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>