{% if component.image_type == 'image_only' %}
	{# When the full width is selected #}
	<div class="container hero_image">
		<img src="{{component.image_full_width.url}}" />
	</div>

{% elseif component.image_type == 'image_with_text' %}
	{# When Image with text is selected #}
	<div class="container hero_image">
		<img src="{{component.image.url}}" />
		{{component.text}}
	</div>

{% else %}

{# When Image with small text is selected #}
	<div class="container hero_image">
		<img src="{{component.image.url}}" />
		{{component.small_text}}
	</div>

{% endif %}


<div class="page-title">
	<h1>{{component.title}}</h1>
	<div class="page-title__text-spacing">{{component.excerpt}}</div>
</div>